.elementor-2003 .elementor-element.elementor-element-3b8d57f{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}/* Start custom CSS for shortcode, class: .elementor-element-5b8f600 */.filters-wrap {
    justify-content: center !important ;
}

.filter-links li a{
font-size: 20px;
border: solid ;
border-width: 1px;
border-radius: 50px;
}

@media (max-width: 768px) {
    .filter-links li a{
        font-size: 16px; 
    }
    .filter-links li{
        margin-bottom:5px !important;
    }
}/* End custom CSS */