#comments {
   @include clearfix();
   .title, .comments-title{
      font-size: 22px;
      font-weight: 600;
      letter-spacing: -0.78px;
      position: relative;
      color: $headings-color;
      @include media-breakpoint-down(md){
         font-size: 20px;
      } 
   }
   .comments-title{
      margin: 50px 0 40px;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      @include media-breakpoint-down(sm){
         margin-bottom: 30px;
      }
   }
   input[type*="email"], input[type*="text"], textarea{
      padding-left: 10px;
      padding-right: 10px;
      min-height: 60px;
      @include border-radius(30px);
     box-shadow: 0px 16px 32px 0 rgba(0, 0, 0, 0.06);
     border: solid 2px #f4f4f4;
     background: $white;
      &::-webkit-input-placeholder { 
        color: #999;
      } 
      &::-moz-placeholder {
        color: #999;
      }
      &:-ms-input-placeholder { 
        color: #999;
      }
      &:-moz-placeholder { 
        color: #999;
      }
   }
   input[type*="email"], input[type*="text"]{
      height: 60px;
      padding: 0 20px;
      line-height: 60px;
   }
   textarea{
      padding: 20px;
   }
   .comment-rating{
      margin-bottom: 15px;
   }

   #add_review_button,
   #submit {
      @extend .btn-theme;
   }
   #add_review_button {
      margin-bottom: 20px;
   }
   .headline {
      height: 30px;
      text-align: left;
      margin-bottom: 10px;
      h2 {
         padding: 0;
      }
      a {
         text-transform: uppercase;
         float: right;
         margin-top: 2px;
         font-size: 12px;
      }
   }
   #reply-title {
      font-size: 28px;
      color: $theme-color;
      margin: 0;
      position: relative;
      @include clearfix();
      small {
         float: right;
         position: absolute;
         top: 50%;
         right: 0;
         z-index: 11;
         display: block;
         @include transform(translateY(-50%));
         @media (max-width: 425px){
            float: none;
            position: initial;
         }
         a {
            color: $body-color;
            border-radius: 20px;
           border: solid 2px #f3f3f3;
           background-color: #ffffff;
            display: inline-block;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            padding: 6px 25px;
            @include transition(all 0.35s);
            &:hover{
               color: $white;
               border-color: transparent;
               @extend .bg-gadient;
            }
         }
      }
   }
   .comment-notes {
      margin-bottom: 20px;
   }

   // Comment form
   .comment-form-main{
      @include clearfix;
      margin-top: 2px;
      .logged-in-as, .h-info{
         margin-bottom: 30px;
         margin-top: 0;
         @include media-breakpoint-down(xs){
            margin-bottom: 15px;
         }
      }
      .row{
         margin-left: -8px;
         margin-right: -8px;
         > div{
            padding-left: 8px;
            padding-right: 8px;
         }
      }
   }
   ol.comment-list {
      list-style: none;
      width: 100%;
      float: left;
      margin: 0;
      padding: 0;
      display: block;
      .comment-body{
         -ms-word-wrap: break-word;
         word-wrap: break-word;
         font-size: 14px;
         line-height: 24px;
         p{
            margin-bottom: 5px;
         }
      }
      > li {
         display: block;
         
         &:before {
            display: none; 
         }
      }
      li{
         #respond {
            float: left;
            width: 100%;
            margin: 5px 0 38px;
            display: block !important;
            #reply-title {
               display: block;
               padding-top: 0; 
               .comments-title{
                  padding-top: 0;
               }
               #cancel-comment-reply-link{
                  font-family: $font-family-base;
               }
            }
            .logged-in-as{
               margin-bottom: 30px;
            }
         }
      }
      .comment {
         clear: both;
         + .comment {
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid $border-color;
         }
      }
      .the-comment{
         
         .media-comment-left{
            min-width: 90px;
            float: left;
            @include media-breakpoint-down(md){
               min-width: 70px;
            }
            @media(max-width: 500px){
               display: block;
               .author-image{
                  margin-bottom: 10px;
               }
            }
            .author-image{
               padding-top: 6px;
               img{
                  width: 70px;
                  height: 70px;
                  overflow: hidden;
                  border-radius: 50%;
                  @include media-breakpoint-down(md){
                     width: 55px;
                     height: 55px;
                  }
               }
            }
         }
         .media-comment-body{
            padding-left: 1px;
            overflow: hidden;
            position: relative;
            @media(max-width: 500px){
               display: block;
               width: 100%;
            }
         }
         .author-meta{
            margin-bottom: 5px;
            .fn{
               font-size: 18px;
               font-weight: 600;
               letter-spacing: -0.54px;
               display: block;
               width: 100%;
               font-style: normal;
               color: $headings-color;
            }
            + em {
               margin-top: -10px;
               font-size: 14px;
            }
         }
         .comment-info{
            position: relative;
            font-size: 14px;
            &:before{
               content:"\f784";
               font-family: 'Line Awesome Free';
               font-weight: 900;
               margin-right: 5px; 
            }
            a{
               color: $body-color;
               font-size: 14px;
               &:hover{
                  color: $theme-color;
               }
            }
         }
         .comment-meta {
            display: block;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 5px;
            color: #676767;
         }
         
         .comment-body {
            position: relative;
            margin-top: 10px;
            @media(max-width: 500px){
               display: block;
               float: left;
               width: 100%;
               margin-bottom: 5px;
            }
            img{
               margin-bottom: 5px;
            }
         }
         .awaiting_moderation {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 8px;
            padding: 2px 4px;
            font-style: normal;
         }
         .comment-action-wrap {
            position: absolute;
            top: 2px;
            right: 0;
            @media(max-width: 560px){
               position: initial;
               top: 0;
               margin-top: 10px;
            }
            a{
               color: $body-color;
               border-radius: 20px;
              border: solid 2px #f3f3f3;
              background-color: #ffffff;
               display: inline-block;
               font-weight: 400;
               font-size: 14px;
               line-height: 24px;
               padding: 6px 25px;
               margin-bottom: 10px;
               @include transition(all 0.35s);
               &.comment-edit-link{                  
                  margin-right: 15px;
               }
               &:hover{
                  color: $white;
                  border-color: transparent;
                  @extend .bg-gadient;
               }
            }
         }
      }
      .children{
         clear: both;
         display: block;
         margin-left: 60px;
         list-style: none;
         margin-top: 30px;
         padding-top: 30px;
         padding-left: 0px;
         border-top: 1px solid $border-color;
         @include media-breakpoint-down(md){
            margin-left: 55px;
         }
         @include media-breakpoint-down(xs){
            margin-left: 20px;
         }
         + .comment{
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid $border-color;
         }
         .comment-author{
            padding-left: 70px;
         }
      }
   }
}
#commentform{
   padding: 40px;
   border: solid 2px #f4f4f4;
   background-color: #ffffff;
   @include border-radius(30px);
   @include media-breakpoint-down(sm){
      padding: 30px;
   }
   @include media-breakpoint-down(xs){
      padding: 0px;
      border: none;
   }
   .form-group{
      position: relative;
      &:before{
         font-family: "Font Awesome 5 Free";
         font-weight: 400;
         font-size: 14px;
         position: absolute;
         right: 20px;
         top: 50%;
         @include transform(translateY(-50%));
          background-image: linear-gradient(to top, #fd6151, #ff774a), linear-gradient(to bottom, #0439ab, #0439ab);
          color: #0439ab;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

      }
      &.author-field:before{
         content: "\f007";
      }
      &.email-field:before{
         content: "\f0e0";
      }
      &.comment-field:before{
         content: "\f304";
         font-weight: 900;
         top: 20px;
         @include transform(translateY(0%));
      }
   }
}
#respond {
   clear: left;
   margin-bottom: 30px;
   input[type="text"], 
   input[type="tel"],
   input[type="password"],
   input[type="email"],
   textarea {
      width: 100%;   
   }
   .form-submit {
      margin: 16px 0 0;
   }
}

#comment_popup {
   background: #fff;
   padding: 50px;
   max-width: 50%;
   position: relative;
   margin: 0 auto;
   @include media-breakpoint-down(md){
      max-width: 100%;
   }
   @include media-breakpoint-down(md){
      padding: 30px;
   }
}

.pingbacklist{
   list-style-type: none;
   padding: 0;
   > li{
      .the-comment{
         border-bottom: 1px solid $border-color;
         padding-bottom: 20px;
         margin-bottom: 35px;
         position: relative;
         .media-comment-left{
            display: none;
         }
         .media-comment-body{
            display: block;
            width: 100%;
            padding-left: 0;
         }
         .author-meta{
            margin-bottom: 5px;
            .fn{
               font-size: 18px;
               font-weight: 600;
               letter-spacing: -0.54px;
               display: block;
               width: 100%;
               font-style: normal;
               color: $headings-color;
            }
         }
         .comment-meta {
            display: block;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 5px;
            color: #676767;
         }
         .comment-info{
            position: relative;
            padding-left: 5px;
            &:before{
               content:"\f133";
               font-family: "Font Awesome 5 Free";
               font-weight: 400;
               margin-right: 5px; 
            }
            a{
               color: $body-color;
               font-size: 14px;
               &:hover{
                  color: $theme-color;
               }
            }
         }
         .comment-body {
            position: relative;
            margin-top: 10px;
            @media(max-width: 500px){
               display: block;
               float: left;
               width: 100%;
               margin-bottom: 5px;
            }
            img{
               margin-bottom: 5px;
            }
         }
         .awaiting_moderation {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 8px;
            padding: 2px 4px;
            font-style: normal;
         }
         .comment-action-wrap {
            position: absolute;
            top: 2px;
            right: 0;
            @media(max-width: 560px){
               position: relative;
               top: 0;
               margin-top: 10px;
            }
            a{
               color: $theme-color;
               display: inline-block;
               font-weight: 500;
               font-size: 14px;
               &.comment-edit-link{
                  color: $black;
                  margin-right: 15px;
               }
            }
         }
      }
   }
}

.cld-like-dislike-wrap{
   position: relative;
   top: 5px;
   margin: 0;
   .cld-count-wrap{
      margin-left: 0;
   }
   .cld-like-wrap{
      color: $theme-color;
      a{
         color: $theme-color;
      }
   }
   .cld-dislike-wrap{
      color: #a0a0a0;
      a{
         color: #a0a0a0;
      }
   }
}

.gav-comment-list{
   .no-comments{
      margin-top: 25px;
      display: block;
      float: left;
      width: 100%;
      color: $headings-color;
   }
}