.gv-sticky-menu{
  	position: relative;
  	transition: all 0.05s!important;
}

.gv-sticky-wrapper{
  	position: relative;
  	z-index: 1;
  	width: 100%;
  	&.is-fixed > .elementor-section{
	 	position: fixed !important;
	 	width: 100%;
	 	z-index: 999;
	 	left: 0;
	 	top: 0;
	 	@include box-shadow(2px 3px 3px rgba(0, 0, 0, 0.1));  
  	}
}

//-- Search 

.gva-search{
  	position: relative;
  	.control-search{
	 	display: inline-block;
	 	text-align: center;  
	 	
	 	&:hover, &:focus, &.search-open{
			i{
            	color: $theme-color;
         	}	
	 	}
  	}
  .gva-search-content{
	 	position: absolute;
	 	top: 100%;
	 	right: -35px;
	 	z-index: 1;
	 	background: $white;
	 	@include box-shadow(0 6px 18px rgba(0, 0, 0, 0.1));
	 	min-width: 250px;
	 	margin-top: 16px;
	 	border: 1px solid rgba(0, 0, 0, 0.05);
	 	@include opacity(0);
	 	@include transition(all 0.35s);
	 	visibility: hidden;
	 	padding: 15px;
	 	&:after{
			content: '';
			border: 10px solid transparent;
			border-bottom-color: $border-color;  
			position: absolute;
			bottom: 100%;
			right: 35px;
	 	}
  	}
  	.gva-main-search{
	 	padding-top: 0;
  	}
  	&.open{
	 	.gva-search-content{
			@include opacity(1);
			visibility: visible;
	 	}
  	}
}

//-- Header 
header{
  	@include media-breakpoint-down(md){
	 	padding-top: 0!important;
	 	padding-bottom: 0!important;
  	}
}

.header-mobile{
  	background: #FFF!important;
  	width: 100%;
  	position: relative;
  	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
  	.topbar-mobile{
  		padding: 10px 30px;
  		font-size: 14px;
	    background: $black;
	    color: #9D9D9D;
      	@include media-breakpoint-down(sm){
			padding-left: 15px;
			padding-right: 15px;
		}
  		.topbar-left{
  			.topbar-information{
  				font-weight: 600;
		    	i{
		      	color: $theme-color;
		      	margin-right: 6px;
		    	}
		  	}
  		}
  		.topbar-right{
			.socials{
				@include media-breakpoint-up(sm){
					text-align: right;
				}
				li{
					a{
						font-size: 16px;
					}
				}
			}
  		}
  	}
  	.header-mobile-content{
	 	position: relative;
		padding: 15px 30px;
		@include media-breakpoint-down(sm){
			padding-left: 15px;
			padding-right: 15px;
		}
		.header-content-inner{
		 	.header-left{
				width: 50%;
				float: left;
				min-height: 20px;
				.logo-mobile{
					max-width: 150px;
               padding-top: 10px;
					img{
			  			max-width: 105px;
			  		}
				}
		 	}

		 	.header-right{
				width: 50%;
				float: left;
				position: relative;
				display: -webkit-box;
		    	display: -ms-flexbox;
		    	display: flex;
		    	flex-wrap: wrap;
		    	justify-content: center;
		    	justify-content: flex-end;
		    	padding-top: 10px;
				.main-search{
					padding-top: 2px;
				  	.control-search{
					 	.icon{
							color: $black;
							font-size: 20px;
							font-weight: 700;
					 	}
				  	}
				}
				.canvas-mobile{
					margin-left: 20px;
				  	.canvas-menu{
				  		.icon{
				  			font-size: 30px;
				  			color: $black;
				  		}
				  	}
				}
			}
		}

		.mini-cart-header{
			margin-top: -15px!important;
			position: absolute;
			top: 50%;
			right: 25px;
		}
  	}
}

// Header builder ------------
.header-builder-frontend{ 
  	position: relative;
  	z-index: 999;
  	width: 100%;
  	&.header-position-relative{
	 	.header-builder-inner{
			position: relative;
			width: 100%;
	 	}
  	}
  	&.header-position-absolute{
	 	.header-builder-inner{
			position: absolute;
			width: 100%;
			.gv-sticky-menu.stuck{
			  	background: $black;
			}
	 	}
  	}
  	@include media-breakpoint-down(md){
	 	position: relative;
  	}
}

// Header default ------------
.header-default{ 
  	background: $white;
  	position: relative;
  	z-index: 999;
  	.header-bottom{
	 	background: $white; 
	 	position: relative;
	 	.header-bottom-inner{ 
			position: relative;
			padding-left: 170px;
			min-height: 80px;
			padding-right: 35px;
			.logo{
		  		position: absolute;
		  		top: 50%;
		  		left: 0;
		  		z-index: 1;
		  		padding: 18px 0 15px;
		  		transform: translateY(-50%);
		  		width: 130px;
			}
			ul.gva-nav-menu{
			  	float: right;
			  	> li > a{
				 	padding: 30px 2px;
			  	}
			}
			.gsc-search-box{
			 	position: absolute;
			  	right: 0;
			  	top: 50%;
			  	margin-top: -12px;
			  	z-index: 1;
			  	.control-search{
			  		svg{
			  			width: 16px;
			  			fill: $black;
			  		}
			  		&:hover{
			  			svg{
			  				fill: $theme-color;
			  			}
			  		}
			  	}
			}
	 	}
  	}
}

.header-builder{ 
  	min-height: 550px;
  	&.header-bg-black{
	 	padding: 10px 0 30px;
	 	background: url('#{$image-theme-path-base}bg-header-builder.jpg') no-repeat center top transparent;
	 	background-size: cover;
  	}
}