  .btn-close{
    --bs-btn-close-bg: url("#") !important;
    color:#ffffff;
    font-size: 20px;
  }

  .bgg{
    background: linear-gradient(to right, #243243, #352D52);
  }
  .btn-close:hover{
    --bs-btn-close-bg: url("#") !important;
    color:#ffffff;
    font-size: 20px;
  }
  .modal-content {
    box-shadow:0 0 10px 10px rgba(53, 45, 82);
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    margin: auto;
  }
  .gallery__strip {
    min-height: 100vh;
    margin-right: 140px;
  }
  .gallery__strip__wrapper {
    flex: 0 0 100%;
    justify-content: flex-end;
    border-right: 2px solid #333;
    position: relative;
  }
  
  .ps{
    justify-content:center;
  }
  @media (max-width: 950px) {
    .gallery__strip__wrapper {
        display: none;
      }
    .hs {
        margin-top: 85px;
    }  
    .hsd {
        display: none !important;
    }  

  }
  @media (min-width: 950px) {
    .gallery {
      height: 100vh;
      //display: none;
    }
    .gallery__strip.one {
      animation: 60s move-it ease alternate infinite .5s;
      transform: translateY(2%);
    }
    .gallery__strip.three {
      animation: 70s move-it ease alternate infinite .5s;
      transform: translateY(2%);
    }
    .gallery__strip.two {
      animation: 58s move-it-2 ease alternate infinite .5s;
      transform: translateY(-50%);
    }
    .gallery__strip.four {
      animation: 65s move-it-2 ease alternate infinite .5s;
      transform: translateY(-50%);
    }
    .gallery__strip:hover {
      animation-play-state: paused;
    }
    .gallery__strip__wrapper {
      flex: 0 0 25%;
    }
  }
  .photo {
    position: relative;
    text-align: right;
    padding-bottom: 3rem;
  }
  .photo__image img {
    width: 80%;
    transform: translateX(30%);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    filter:brightness(.5);
  }
  .photo__name {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin-top: -25px;
    transition: 0.4s ease-in-out 0.4s;
    position: relative;
    width: 100%;
  }
  .photo:hover .photo__image img {
    transform: translateX(0%);
  }
  .photo:hover .photo__name {
    color: #fff;
  }
  
  @keyframes move-it {
    0%, 90%, 100% {
      transform: translateY(2%);
    }
    45% {
      transform: translateY(-50%);
    }
  }
  @keyframes move-it-2 {
    0%, 90%, 100% {
      transform: translateY(-50%);
    }
    45% {
      transform: translateY(5%);
    }
  }