.service-item{
   position: relative;
   background: $white;
   transition: all 0.5s ease;
   margin-bottom: 30px;
   &.style-1{
      padding: 50px 40px;
      background: $white;
      transition: all 0.35s;
      box-shadow: 0px 16px 32px 0 rgba(0, 0, 0, 0.06);
      border: solid 2px #e2edea;
      text-align: left;
      position: relative;
      @include media-breakpoint-down(sm){
         padding: 30px 15px;
      }
      &:before{
         content: "";
         width: 0;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 0;
         transition: all 0.35s;
         @extend .bg-gadient;
      }
      .service-item-content{
         position: relative;
         z-index: 1;
      }
      .number{
         font-size: 120px;
         line-height: 95px;
         font-weight: 700;
         margin-bottom: 35px;
         -webkit-text-stroke: 2px $theme-color;
         -webkit-text-fill-color: transparent;
         @include media-breakpoint-down(sm){
            font-size: 60px;
            line-height: 60px;
            margin-bottom: 20px;
         }
      }
      .title{
         font-size: 20px;
         font-weight: 600;
         letter-spacing: -0.6px;
         margin-top: 0;
         margin-bottom: 23px;
         span{
            background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px 89% / 0px 2px no-repeat;
            transition: all 0.35s ease;
         }
      }
      .service-footer{
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: 30px;
      }
      .read-more{
         a{
            color: #c8c8c8;
            font-size: 16px;
            &:after{
               padding-left: 5px;
               font-size: 16px;
               font-family: 'Line Awesome Free';
               font-weight: 900;
               content: "\f061";
            }
            &:before{
               content: none;
            }
         }
      }
      .box-icon{
         font-size: 40px;
         color: $theme-color;
         right: 0;
         bottom: 0;
         transition: all 0.35s;
         svg{
            width: 64px;
            fill: $theme-color;
         }
      }
      .link-overlay{
         position: absolute;
         @include size(100%, 100%);
         top: 0;
         left: 0;
         z-index: 11;
      }
      .service-box-background {
          position: absolute;
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 0;
          background: #fff;
          z-index: -1;
          @include opacity(0);
          transition: all 0.35s;
      }
      &:hover{
         //@extend .bg-gadient;
         &:before{
            width: 100%;
         }
         .number{
            -webkit-text-stroke: 2px $white;
         }
         .title{
            color: $white;
            span{
               background-size: 100% 2px;
            }
         }
         .desc{
            color: rgba(255, 255, 255, 0.8);
         }
         .box-icon{
            color: $white;
         }
         .read-more a{
            color: $white;
         }
          .service-box-background {
            @include opacity(1);
            bottom: -20px;
          }
      }
   }
   &.style-2{
      margin-bottom: 50px;
      .service-item-content{
         position: relative;
         z-index: 2;
      }
      .box-icon{
         margin-top: -50px;
         position: relative;
         z-index: 1;
         .icon {
            width: 100px;
            height: 100px;
            line-height: 100px;
            font-size: 40px;
            background: $white;
            color: $theme-color;
            text-align: center;
            @include border-radius(50%);
            position: relative;
            display: inline-block;
            &:before{
               content: "";
               position: absolute;
               top: 5px;
               width: 100%;
               height: 100%;
               left: 0;
               z-index: -1;
               @extend .bg-gadient;
               @include border-radius(50%);
            }
            @include media-breakpoint-down(md){
               width: 80px;
               height: 80px;
               line-height: 80px;
               font-size: 25px;
            }
         }
         svg{
            width: 64px;
            fill: $black;
         }
      }
      .title{
         font-size: 24px;
         line-height: 30px;
         font-weight: 600;
         letter-spacing: -0.72px;
         margin: 25px 0 30px;
         @include media-breakpoint-down(md){
            font-size: 18px;
            margin: 20px 0;
         }
      }
      .read-more{
         margin-top: 30px;
         margin-bottom: -30px;
         a {
            box-shadow: 0px 16px 32px 0 rgba(0, 0, 0, 0.06);
         }
      }
      .link-overlay{
         position: absolute;
         @include size(100%, 100%);
         top: 0;
         left: 0;
         z-index: 11;
      }
      .service-inner{
         text-align: center;
         border: solid 2px #eeeeee;
         padding: 0 30px;
      }
      &:hover{
         .service-inner{
            border-color: $theme-color;
         }
         .read-more a{
            color: $white;
            @extend .bg-gadient;
         }
         
      }
   }
}

.active{
   .service-item{
      &.style-1{
         box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
      }
      &.style-2{
         box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.07);
      }
   }
}
.active.center{
   .service-item{
      &.style-2{
         background-color: $black;
         .service-box-background{
            opacity: 0.2;
            top: 0;
         }
         .service-item-content{
            .title{
               color: $white;
               background-size: 100% 2px;
            }
            .desc{
               color: rgba(255, 255, 255, 0.8);
            }
            .box-icon{
               color: $white;
            }
            .read-more a{
               color: $white;
               &:before{
                  width: 0;
               }
            }
         }
      }
   }
}